.TITULO_BLANCO {
	background-color: #a4cd38!important;
	font-size: 14px!important;
	font-weight: normal;
	padding:8px!important;
}
.TITULO_CELESTE {
	background-color: #45a7d1!important;
	font-size: 12px!important;
	font-weight: normal;
	color: white!important;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding:5px!important;
}
a.vernota {
	font-size:13px!important;
	color: #a4cd38!important;
}
a.vernota:hover {
	font-size:13px!important;
}
a.link{color: #a4cd38!important;}
a.link:hover{color: #45a7d1!important;}
div.datepicker a:hover, div.datepicker a:hover{
	background-color: #45a7d1!important;
}
div.myButton {
	background-color: #45a7d1;
	font-weight: normal;
	font-size: 12px;
}
div.myButton:hover{
	background-color: #a4cd38;
}